@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i,700,700i,900,900i");

.App {
  font-family: "Source Sans Pro";
  height: 100vh;
}

h1,
h5 {
  margin: 0 !important;
}

h1 {
  font-size: 1.7em;
}

.logo {
  width: 146px;
  margin-top: 23px;
  height: 21px;
  background: url(https://pebblepost.io/img/flamingoLogo.png);
  background-size: cover;
  float: left;
  color: #ff6178;
}

.header,
.ant-menu-dark {
  background: #f9f9f9;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: #f9f9f9;
}

.ant-menu-item-selected {
  color: #777;
}

.ant-menu-vertical .ant-menu-item:after,
.ant-menu-vertical-left .ant-menu-item:after,
.ant-menu-vertical-right .ant-menu-item:after,
.ant-menu-inline .ant-menu-item:after {
  border-right: 3px solid #ff6178;
}

.ant-menu-item:hover,
.ant-menu-item-active,
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active,
.ant-menu-submenu-title:hover {
  color: #241922;
}

#addresses td {
  text-transform: uppercase;
}

.guide {
  background-image: linear-gradient(
    165deg,
    #fffdfd 33.33%,
    #ffffff 33.33%,
    #ffffff 50%,
    #fffdfd 50%,
    #fffdfd 83.33%,
    #ffffff 83.33%,
    #ffffff 100%
  );
  background-size: 231.82px 62.12px;
}

.ant-dropdown-button button,
.ant-dropdown-button button:hover,
.ant-dropdown-button button,
.ant-dropdown-button button:active,
.ant-dropdown-button button:focus {
  background-color: #ff6178 !important;
  border-color: rgb(255, 121, 141);
  color: white;
}
